#banner {
  background-image: url("../images/1.jpg");
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
}
#marquee {
  font-family: "Flavors", cursive;
  font-size: 80px;
  color: yellow;
  width: 100%;
}
